/* courier_dashboard.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.background-box {
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    height: 90vh;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start (left) of the container */
}

.background-box img {
    width: 20vw; /* 20% of the viewport width */
    max-width: 150px; /* Set a maximum width to ensure it doesn't get too small */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any default inline spacing */
    margin: 0 auto; /* Center the image horizontally */
}

.route_num,
.stops_packages_pickup_details {
    width: 15vw;
    height: 5vh;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1.5px solid #000;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left; /* Align the text to the left */
    font-size: 1vw;
    margin: 15px;
}

.route_num {
    width: 20vw;
    font-size: 2vw;
    text-align: left; /* Align the text to the left */
}

.Package-info {
    width: 272px; /* Set width to 272px */
    height: 434px; /* Set height to 434px */
    background-color: #fff; /* Set background color to white */
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: 35%;
    right: 25%;
    transform: translateY(-50%);
}
  
.Package-info-header {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
  
.Package-info-content {
    padding: 10px;
    /* Add your widget content styling here */
}

.Package-info-content p {
    margin-top: 0; /* Reset top margin */
    margin-bottom: 5px; /* Adjust the margin between paragraphs */
    line-height: 1; /* Adjust line height to tighten the space */
    font-size: 14px;
}

.Package-info-content {
    padding: 20px; /* Adjust the padding around the content */
}

.widget {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px; /* Spacing between each widget */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
