@import "../../Resources/css/navbar.css";
@import "../../Resources/css/widget.css";

#desktop-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2;
}

/* Alerts Widget */
#alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

#alert span {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

#alert #alert-entry-icon {
    color: red;
}

#time-dropdown {
    margin-top: 0.5rem;
}

/* Location Summary Widget */
.summary-text {
    display: flex;
    column-gap: 0.5rem;
}

#location-widget-content {
    display: grid;
    text-wrap: nowrap;
    row-gap: 0.5rem;
    column-gap: 2rem;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        'revenue revenue'
        'packages-delivered stats-button'
        'route-compliance stats-button'
        'scan-compliance stats-button';
}

#revenue {
    grid-area: revenue;
}

#packages-delivered {
    grid-area: packages-delivered;
}

#stats-button {
    grid-area: stats-button;
}

#location-widget-content #revenue #percent-change {
    color: var(--percent-green)
}

#location-widget-content #packages-delivered #percent-change {
    color: var(--percent-red)
}

#location-widget-content #route-compliance #percent-change {
    color: var(--percent-green)
}

#location-widget-content #scan-compliance #percent-change {
    color: var(--percent-green)
}

/* Courier Widget */
#courier-widget-title {
    margin-left: 1rem;
}

#courier-widget-options {
    display: flex;
    column-gap: 1rem;
}

#courier-widget-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    overflow: auto;
    max-height: 35vh;
    max-width: 90vw;
    padding: 1rem;
}

.courier-entry-grid {
    display: grid;
    font-size: 13px;
    text-wrap: nowrap;
    row-gap: 0.5rem;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr 2rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'driver-name driver-name driver-name'
        'route-number route-compliance details-button'
        'stops-per-hr scan-compliance details-button';
}

#driver-name {
    grid-area: driver-name;
}

#route-number {
    grid-area: route-number;
}

#route-compliance {
    grid-area: route-compliance;
}

#details-button {
    grid-area: details-button;
}

#stops-per-hour {
    grid-area: stops-per-hour;
}

#scan-compliance {
    grid-area: scan-compliance;
}

@media (min-width: 1000px) {
    main {
        padding: 2rem;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }

    #desktop-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
    }

    .widget-entry {
        width: 45vw;
    }

    #courier-widget-content {
        max-height: 75vh;
    }
}