@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
    --purple: #7A0BD1;
    --orange: #ff7A08;
    --grey: #EAEDF2;
    --percent-green: #3AA738;
    --percent-red: #ED2020;
    --widget-radius: 10px;
    --widget-padding: 1rem;
    --widget-font-size: 14px;
    --widget-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: 'Futura';
    background-color: var(--grey);
}

main {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    row-gap: 2rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
}

select {
    border: 0px;
    outline: 0px;

    border-radius: var(--widget-radius);
    padding: 0.5rem;
}

select#xyz {
    border: 0px;
    outline: 0px;
}

.icon-14 {
    width: 14px;
    height: 14px;
}

.icon-16 {
    width: 16px;
    height: 16px;
}

.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-32 {
    width: 32px;
    height: 32px;
}

.icon-48 {
    width: 48px;
    height: 48px;
}

.icon-white {
    color: white;
}

.grid-column-span-2 {
    grid-column: span 2;
}